<!DOCTYPE html>

<html>
<head>
    <title>eBay Template Designed by mMehedi Hasan Rony</title>
    <link href="~/Content/style.css" rel="stylesheet" />
</head>
<body>
    <div>
        <div id="conatiner">
            <div id="header">
                <div id="logo">

                </div>
                <div id="search_area">
                    <input id="text_Area" type="text" placeholder="Search.." />
                    <input id="button" type="button" value="search" />
                </div>

            </div>
            <div id="nav_area">
                <ul>


                    <li><a href="#">eBay Shop</li></a>
                    <li><a href="#">Feedback</li></a>
                    <li><a href="#">Add to Favorites</li></a>
                    <li><a href="#">About Us</li></a>
                    <li><a href="#">Contact Us</li></a>


                    @if (Session["Taikhoan"] == null)
                    {
                        <li><a href="@Url.Action("Login", "Library")">LOGIN </a> </li>

                    }
                    else
                    {
                        <li style="font-size:15px;font-weight:bold">Hello, @Session["Taikhoan"].ToString() | <a href="@Url.Action("Logout", "Library")">LOGOUT </a> </li>

                    }
                </ul>
            </div><!--end nav area-->

            <div id="left_side">
                <div id="catagories">
                    <h2>Chủ đề sách</h2>
                    <ul>
                        @Html.Action("Chude", "Library")
                        @*<li><a href="#">Fashio Item</li></a>
                            <li><a href="#">Beauty Product</li></a>
                            <li><a href="#">I Phone</li></a>
                            <li><a href="#">Other's Item</li></a>*@
                    </ul>
                </div><!--end catagories-->


                <div id="catagories">
                    <h2>NXB</h2>
                    <ul>
                        @Html.Action("NXB", "Library")
                        @*<li><a href="#">Fashio Item</li></a>
                            <li><a href="#">Beauty Product</li></a>
                            <li><a href="#">I Phone</li></a>
                            <li><a href="#">Other's Item</li></a>*@
                    </ul>
                </div><!--end catagories-->
                @*<div id="payment_area">

                        <h2>Payments</h2>
                        <a class="links" href="#"><img src="~/images/payoneer.jpg"></a>
                        <a class="links" href="#"><img src="~/images/skrill.jpg"></a>
                        <a class="links" href="#"><img src="~/images/mastercard.jpg"></a>
                        <a class="links" href="#"><img src="~/images/americanexpress.jpg"></a>
                    </div><!--end payments area-->

                    <div id="Shipping">
                        <h2>Shipping</h2>
                        <a class="links" href="#"><img src="~/images/ups.jpg"></a>
                        <a class="links" href="#"><img src="~/images/fedex.jpg"></a>
                        <a class="links" href="#"><img src="~/images/dhl.jpg"></a>
                        <a class="links" href="#"><img src="~/images/americanexpress.jpg"></a>
                    </div><!--end shipping area-->*@
                <div id="contact">
                    <h2>Contact Us</h2>
                    <p>
                        Address:<br />
                        39 United States.
                        <br />
                        Phone: +880-1682651827
                    </p>
                </div><!--end contact area-->
            </div><!--end left_side area-->

            <div id="right_side">

                @RenderBody()

            </div><!--end of our product area-->
            <div id="additional_area"> </div>
            <div id="footer_area">

                <ul>
                    <li><a href="#">eBay Shop</li></a>
                    <li><a href="#">Feedback</li></a>
                    <li><a href="#">Add to Favorites</li></a>
                    <li><a href="#">About Us</li></a>
                    <li><a href="#">Contact Us</li></a>
                </ul>
                <p>
                    Copyright &copy; 2014
                    <br />
                    Smartdesigner007@gmail.com
                </p>
            </div>
        </div><!--end of right area-->
    </div>


</body>
</html>
