<!DOCTYPE html>

<html>
<head>
    <title>Thư Viện DnK</title>
    <link href="~/Content/style.css" rel="stylesheet" />
</head>
<body>
    <div>
        <div id="conatiner">
            <div id="header">
                <div id="logo">

                </div>
                <div id="search_area">
                    @using (Html.BeginForm("Index", "Library", FormMethod.Get, new { @class = "navbar-form navbar-right", role = "search", id = "search-form", onsubmit = "return empty();" }))
                    {

                        <input id="text_Area" type="text" placeholder="Tìm kiếm theo tên sách" name="SearchString" />
                        <input id="button" type="submit" value="search" />
                    }
                </div>
            </div>

            <div id="nav_area">
                <ul>
                    <li><a href="@Url.Action("Index","Library")">Home</a></li>
                    <li><a href="@Url.Action("Contact","Home")">Contact</a></li>
                    <li><a href="@Url.Action("About","Home")">About</a></li>
                    <li><a href="@Url.Action("Index","QLSach")">Trang Admin</a></li>

                    @*<li><a href="#">Contact Us</li></a>*@


                    @if (Session["Taikhoan"] == null)
                    {
                        <li><a href="@Url.Action("Login", "Library")">LOGIN </a> </li>

                    }
                    else
                    {
                        <li style="font-size:15px;font-weight:bold">Hello, @Session["TenDG"].ToString() | <a href="@Url.Action("Logout", "Library")">LOGOUT </a> </li>

                    }
                    <li style="font-size:15pt">
                        @Html.Action("GiohangPartial", "Order")
                    </li>
                </ul>
            </div><!--end nav area-->

            <div id="left_side">
                <div id="catagories">
                    <h2>Chủ đề sách</h2>
                    <ul>
                        @Html.Action("Chude", "Library")
                        
                    </ul>
                </div><!--end catagories-->


                <div id="catagories">
                    <h2>NXB</h2>
                    <ul>
                        @Html.Action("NXB", "Library")
                    </ul>
                </div><!--end catagories-->
                
                <div id="contact">
                    <h2>Contact Us</h2>
                    <p>
                        Địa chỉ:<br />
                        155 SVH nối dài, quận 10, TPHCM
                        <br />
                        Phone: +880-1682651827
                    </p>
                </div><!--end contact area-->
            </div><!--end left_side area-->

            <div id="right_side">

                @RenderBody()

            </div><!--end of our product area-->
            <div id="additional_area"> </div>
            <div id="footer_area">

                <ul>
                    <li><a href="@Url.Action("Index","Library")">Home</a></li>
                    <li><a href="@Url.Action("Contact","Home")">Contact</a></li>
                    <li><a href="@Url.Action("About","Home")">About</a></li>
                </ul>
                <p>
                    Copyleft &copy; 2018
                    <br />
                    xxx@gmail.com
                </p>
            </div>
        </div><!--end of right area-->
    </div>


</body>
</html>
